## Nested loops

In [1]:
num = int(input('Enter the number of rows'))

for i in range (0,num):
    
    for j in range (0,num):
        print('*', end="")
    print()

Enter the number of rows 5

*****
*****
*****
*****
*****

In [2]:
num = int(input('Enter the number of rows'))

for i in range (1,num):
    for j in range (1,i+1):
        print('*', end="")
    print()

Enter the number of rows 5

*
**
***
****

In [3]:
num = int(input('Enter the number of rows'))

for i in range(num,0,-1):
    for j in range (0,i):
        print('*', end="")
    print()

Enter the number of rows 5

*****
****
***
**
*

In [4]:
num = int(input('Enter the number of rows'))

for i in range(1,num+1):
    # k = 1
    for j in range (1,i+1):
        print(j, end=" ")
        # k+=1
    print()

Enter the number of rows 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
num = int(input('Enter the number of rows'))
k = 1

for i in range(0,num):
    for j in range (0,i+1):
        print(k, end=" ")
        k+=1
    print()

Enter the number of rows 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [6]:
num = int(input('Enter the number of rows'))
ch = 'A'
for i in range(0,num):
    for j in range(0,num):
        print(ch, end="")
        ch = chr(ord(ch)+1)
    print()

Enter the number of rows 5

ABCDE
FGHIJ
KLMNO
PQRST
UVWXY

In [1]:
num = int(input('Enter the number of rows'))

for i in range(0,num):
    for j in range(0,i+1):
        print('*', end=" ")
    print()

Enter the number of rows 5

*
* *
* * *
* * * *
* * * * *

In [3]:
n = int(input('Enter the number of rows'))
m = n
for i in range(0,n):
    for j in range(m-1,0,-1):
            print(" ", end="")
    for k in range (0,i+1):
        print('*', end=" ")    
    m-=1
    print()

Enter the number of rows 10

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [4]:
n = int(input('Enter the number of rows'))
m=0
for i in range(n,0,-1):
    for k in range(0,m):
        print(' ', end="")
    for j in range(0,i):
        print('*', end=" ")
    m+=1
    print()

Enter the number of rows 5

* * * * *
 * * * *
  * * *
   * *
    *

## Armstrong Number

In [6]:
n = int(input('Enter the number'))
m = n
j = n
no_of_digits = 0
sum = 0

while m!=0:
    m = m//10
    no_of_digits += 1


while j!=0:
    temp = j % 10
    sum = sum + temp ** no_of_digits
    j = j//10


if sum == n:
    print('The number is an armstrong number')
else:
    print('The number is not an armstrong number')

Enter the number 152

The number is not an armstrong number

## Lists

In [27]:
fruits = ['Apple', 'Banana', 'apple', 'Mango']

print(fruits)
print(fruits[0])
print(fruits[0:2])
print(fruits[1:len(fruits)])
print(fruits[2:])
print(fruits[:3])
print(fruits[-1])
print(fruits[-4:-1])
print(fruits[-3:])

['Apple', 'Banana', 'apple', 'Mango']
Apple
['Apple', 'Banana']
['Banana', 'apple', 'Mango']
['apple', 'Mango']
['Apple', 'Banana', 'apple']
Mango
['Apple', 'Banana', 'apple']
['Banana', 'apple', 'Mango']

In [25]:
user_fruit = input('Enter the fruit')

for i in range(0,len(fruits)):
    if (fruits[i] == user_fruit):
        print('The fruit exists')
        break
else:
    print('The fruit does not exist')

Enter the fruit Orange

The fruit does not exist

In [27]:
user_fruit = input('Enter the fruit')

if user_fruit in fruits:
    print('It exists')
else:
    print('It does not exist')

Enter the fruit Mango

It exists

In [48]:
fruits.insert(1,'Orange')

In [29]:
print(fruits)

['Apple', 'Orange', 'Banana', 'apple', 'Mango']

In [49]:
seasonal_fruits = ['Orange', 'Grapes', 'Watermelon', 'Chicu']
print(seasonal_fruits)

['Orange', 'Grapes', 'Watermelon', 'Chicu']

In [50]:
fruits.extend(seasonal_fruits)

In [51]:
print(fruits)

['Apple', 'Orange', 'Banana', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu']

In [33]:
fruits.append('abc')

In [34]:
print(fruits)

['Apple', 'Orange', 'Banana', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu', 'abc']

In [35]:
fruits[1:3] = ['chicu', 'Dragonfruit']

In [36]:
print(fruits)

['Apple', 'chicu', 'Dragonfruit', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu', 'abc']

In [37]:
fruits[1:2] = ['abc', 'efg', 'rst']

In [38]:
print(fruits)

['Apple', 'abc', 'efg', 'rst', 'Dragonfruit', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu', 'abc']

In [39]:
fruits.remove('abc')
print(fruits)

['Apple', 'efg', 'rst', 'Dragonfruit', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu', 'abc']

In [40]:
fruits = [x for x in fruits if x!='abc']

In [41]:
print(fruits)

['Apple', 'efg', 'rst', 'Dragonfruit', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu']

In [55]:
fruits.insert(1, 'abc')
fruits.append('abc')

In [44]:
print(fruits)

['Apple', 'abc', 'efg', 'rst', 'Dragonfruit', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu', 'abc']

In [64]:
fruits = [x for x in fruits if x!='abc']

In [65]:
print(fruits)

['Apple', 'Orange', 'Banana', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu']

In [63]:
print(temp_fruits)

['Apple', 'Orange', 'Banana', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon', 'Chicu']

In [66]:
fruits.pop()
print(fruits)

['Apple', 'Orange', 'Banana', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon']

In [67]:
fruits.pop(1)

'Orange'

In [68]:
print(fruits)

['Apple', 'Banana', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon']

In [69]:
fruits.pop(1)
print(fruits)

['Apple', 'apple', 'Mango', 'Orange', 'Grapes', 'Watermelon']

In [70]:
fruits.pop()

'Watermelon'

In [71]:
for fruit in fruits:
    print(fruit)

Apple
apple
Mango
Orange
Grapes

In [72]:
for i in range(len(fruits)):
    print(fruits[i])

Apple
apple
Mango
Orange
Grapes

In [77]:
numbers = [14, 32, 33, 24, 4, 9]
numbers.sort()
print(numbers)

[4, 9, 14, 24, 32, 33]

In [78]:
numbers = [14, 32, 33, 24, 4, 9]
numbers.sort(reverse=True)
print(numbers)

[33, 32, 24, 14, 9, 4]

In [82]:
list = [21, 43, 55, 68, 70]
new_list = []

for x in list:
    new_list.append(x*10)
print(new_list)

[210, 430, 550, 680, 700]

## Lambda Function

In [73]:
result = lambda x : x + 20
print(result(10))

30

In [74]:
result = lambda x : x ** 2
print(result(10))

100

In [75]:
result = lambda x,y : x + y
print(result(10,15))

25

## Closure

In [76]:
def multiply (val):
    return lambda pow : val ** pow

result = multiply(10)
print(result(2))

100

## Functional methods

In [6]:
numbers = [21, 43, 55, 68, 70]

new_list = list(map(lambda x : x**2, numbers))
print(new_list)

[441, 1849, 3025, 4624, 4900]

## Tuples

In [7]:
## Tuples can also have elements with different data types

In [8]:
my_tuple = (21, 32, 44, 56, 12)
print(my_tuple)

(21, 32, 44, 56, 12)

In [9]:
print(my_tuple[1])

32

In [10]:
print(my_tuple[1:3])

(32, 44)

In [11]:
my_tuple2 = (52, 66, 73, 81, 90)
print(my_tuple2)

(52, 66, 73, 81, 90)

### Tuple Operations

#### Concatination

In [12]:
result = my_tuple + my_tuple2
print(result)

(21, 32, 44, 56, 12, 52, 66, 73, 81, 90)

#### Repetition

In [13]:
print(my_tuple * 2)

(21, 32, 44, 56, 12, 21, 32, 44, 56, 12)

#### Membership (in)

In [15]:
print(32 in my_tuple)
print(30 in my_tuple)

True
False

#### Iterating through a tuple

In [17]:
for item in my_tuple:
    print(item)

21
32
44
56
12

### Tuple Methods

In [22]:
print(my_tuple.count(32))

# It counts the number of times an element is repeated in a tuple

1

In [24]:
print(my_tuple.index(44))

# Returns the index in which the element is residing

2

#### Functions

In [25]:
print(len(my_tuple))
print(sum(my_tuple))
print(max(my_tuple))
print(sorted(my_tuple))

5
165
56
[12, 21, 32, 44, 56]

In [28]:
print(tuple(fruits))

('Apple', 'Banana', 'apple', 'Mango')

## Sets

In [30]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [31]:
#duplicates are automatically removed

duplicate_set = {1, 2, 2, 3, 4, 4, 5}
print(duplicate_set)

{1, 2, 3, 4, 5}

In [32]:
# Since sets are unordered, they do not support indexing or slicing like lists or tuples.

In [33]:
for item in my_set:
    print(item)

1
2
3
4
5

In [5]:
my_set = {1, 2, 3, 'Danish'}
my_set.add(4)
print(my_set)

{1, 2, 3, 4, 'Danish'}

In [6]:
my_set.remove('Danish')
print(my_set)

{1, 2, 3, 4}

In [35]:
my_set.remove(3)
print(my_set)

my_set.discard(10)  # Does nothing (no error)

removed_item = my_set.pop()  # Removes a random element
print(removed_item)
print(my_set)

{1, 2, 4}
1
{2, 4}

In [36]:
my_set.clear()
print(my_set)

set()

In [37]:
del my_set

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)  
print(set1.union(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [39]:
print(set1 & set2)  
print(set1.intersection(set2))

{3}
{3}

In [40]:
print(set1 - set2)
print(set1.difference(set2))

{1, 2}
{1, 2}

In [41]:
print(set1 ^ set2)  
print(set1.symmetric_difference(set2))

# Finds elements that are in one set but not in both.

{1, 2, 4, 5}
{1, 2, 4, 5}

In [42]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A.issubset(B))  
print(A.issuperset(B))  
print(A.isdisjoint(B))

False
False
False

In [43]:
# Same functions like len, max, min, sum, sorted apply in sets as well

In [8]:
language = {'English', 'Hindi', 'Marathi', 'Hindi'}
print(language)

{'Hindi', 'Marathi', 'English'}

In [9]:
# len(language)
language.remove('English')

In [10]:
print(language)

{'Hindi', 'Marathi'}

In [16]:
language = {'English', 'Hindi', 'Marathi', 'hindi'}

In [4]:
print(language)

{'Marathi', 'English', 'Hindi', 'hindi'}

In [6]:
language.remove('hindi')

In [7]:
print(language)

{'Marathi', 'English', 'Hindi'}

In [14]:
del language

In [11]:
language.clear()

In [15]:
print(language)

NameError: name 'language' is not defined

In [17]:
language.pop()

'Marathi'

In [18]:
print(language)

{'English', 'Hindi', 'hindi'}

## Dictionaries

In [21]:
dictionary1 = {'Name':'Danish', 'RollNo':1310, 'Grades':8.2, 'Gender':'M'}
print(dictionary1)

{'Name': 'Danish', 'RollNo': 1310, 'Grades': 8.2, 'Gender': 'M'}

In [22]:
len(dictionary1)

4

In [23]:
result = dictionary1.keys()
print(result)

dict_keys(['Name', 'RollNo', 'Grades', 'Gender'])

In [26]:
result = dictionary1.values()
print(result)

dict_values(['Danish', 1310, 8.2, 'M'])

In [27]:
for item in dictionary1:
    print(item)

Name
RollNo
Grades
Gender

In [30]:
for item in dictionary1.keys():
    print(item)

Name
RollNo
Grades
Gender

In [38]:
dictionary2 = dict(Name='Danish')

In [ ]:
dictionary2

#### Accessing Dictionary Elements

In [60]:
student = {
    "name": "Danish",
    "age": 21,
    "city": "Mumbai"
}

print(student["name"])
print(student.get("age"))

Danish
21

#### Modifying a Dictionary

In [61]:
student["age"] = 23  # Modifies existing value
student["grade"] = "A"  # Adds a new key-value pair
print(student)

{'name': 'Danish', 'age': 23, 'city': 'Mumbai', 'grade': 'A'}

#### Removing Elements

In [46]:
student.pop("city")  # Removes 'city' key
del student["grade"]  # Deletes 'grade' key

print(student)

{'name': 'Danish', 'age': 23}

In [47]:
student.clear()  # Removes all items
print(student)

{}

#### Dictionary Methods

In [50]:
print(student.keys())

dict_keys(['name', 'age', 'city', 'grade'])

In [51]:
print(student.values())

dict_values(['Danish', 23, 'Mumbai', 'A'])

In [52]:
print(student.items())

dict_items([('name', 'Danish'), ('age', 23), ('city', 'Mumbai'), ('grade', 'A')])

In [53]:
print(student.get("name"))

Danish

In [54]:
student.update({"age": 23, "grade": "A"})
print(student)

{'name': 'Danish', 'age': 23, 'city': 'Mumbai', 'grade': 'A'}

In [55]:
# Removes a key and returns its value.
age = student.pop("age")
print(age)

23

In [56]:
# Removes and returns the last inserted key-value pair
print(student.popitem())

('grade', 'A')

In [57]:
# Creates a shallow copy of the dictionary.
new_student = student.copy()
print(new_student)

{'name': 'Danish', 'city': 'Mumbai'}

In [58]:
student.clear()
print(student)

{}

In [59]:
# Same functions like len, max, min, sum, sorted apply in sets as well

In [63]:
student.update({'subject': ['English', 'Geography']})

In [64]:
print(student)

{'name': 'Danish', 'age': 23, 'city': 'Mumbai', 'grade': 'A', 'subject': ['English', 'Geography']}

In [65]:
student.get('subject')

['English', 'Geography']

#### Using a Dictionary Inside a Dictionary

In [68]:
student_scores = {'Danish':{'Math':90, 'Science':94}, 'Prathamesh':{'Math':92, 'Science':90}}

print(student_scores['Danish'])
print(student_scores['Danish'] ['Math'])

{'Math': 90, 'Science': 94}
90

#### Merging Dictionaries

In [72]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

print(dict1)
print(dict2)

{'a': 1, 'b': 2}
{'c': 3, 'd': 4}

In [73]:
merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}