In [20]:
import pandas as pd
import numpy as np

In [3]:
list = [1.0, 2.0, 0.3, 0.4, 0.5]
type(list)

list

In [4]:
ser_list = pd.Series(list)

In [7]:
type(ser_list)

pandas.core.series.Series

In [8]:
ser_list

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
dtype: float64

In [9]:
test_ser = pd.Series([1.0, 2.0, 0.3, 0.4, 0.5])

In [10]:
test_ser

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
dtype: float64

In [11]:
dict = {'10': 'A', '20': 'B', '30': 'C'}

In [12]:
dict

{'10': 'A', '20': 'B', '30': 'C'}

In [14]:
pd_ser = pd.Series(dict)

In [15]:
pd_ser

10    A
20    B
30    C
dtype: object

In [18]:
pd_ser['10']

'A'

In [21]:
ser_scaler = pd.Series(np.arange(5), index = [1,2,3,4,5])
ser_scaler

1    0
2    1
3    2
4    3
5    4
dtype: int32

In [23]:
ser_index = pd.Series({1:'A', 2:'B', 3:'C', 1:'D', 4:'E', 6:'F'}, index=[1,2,3])
ser_index

1    D
2    B
3    C
dtype: object

In [24]:
ser = pd.Series({1:'A', 2:'B', 3:'C', 4:'D', 5:'E'})
print(ser.loc[[1,3,5]])

1    A
3    C
5    E
dtype: object

In [26]:
states_capitals = {'Karnataka': 'Banglore', 'Andrapradesh': 'Hyderabad', 'Tamilnadu': 'Chennai', 
                  'Kerala':'Thiruvanathapuram', 'Maharashtra': 'Mumbai'}

In [27]:
states_lang = {'Karnataka': 'Kannada', 'Andrapradesh': 'Telugu', 'Tamilnadu': 'Tamil',
                 'Maharashtra': 'Marathi', 'Kerala':'Malyalam'}

In [28]:
states_population = {'Karnataka': 3500000, 'Andrapradesh': 1230000, 'Tamilnadu': 5500000,
                 'Maharashtra': 900000, 'Kerala': 1700000}

In [29]:
states_population

{'Karnataka': 3500000,
 'Andrapradesh': 1230000,
 'Tamilnadu': 5500000,
 'Maharashtra': 900000,
 'Kerala': 1700000}

In [30]:
states_CL = pd.DataFrame({'Capitals': states_capitals, 'Language': states_lang})
states_CL

                       Capitals  Language
Karnataka              Banglore   Kannada
Andrapradesh          Hyderabad    Telugu
Tamilnadu               Chennai     Tamil
Kerala        Thiruvanathapuram  Malyalam
Maharashtra              Mumbai   Marathi

In [31]:
states_CL['Population'] = states_CL.index.map(states_population)

states_CL

                       Capitals  Language  Population
Karnataka              Banglore   Kannada     3500000
Andrapradesh          Hyderabad    Telugu     1230000
Tamilnadu               Chennai     Tamil     5500000
Kerala        Thiruvanathapuram  Malyalam     1700000
Maharashtra              Mumbai   Marathi      900000

In [32]:
df_list = pd.DataFrame({'a':[0,1,2,3,4], 'b':[2,4,6,8,10], 'c':[3,6,9,12,15]})
df_list

   a   b   c
0  0   2   3
1  1   4   6
2  2   6   9
3  3   8  12
4  4  10  15

In [33]:
data = [{'a': i, 'b': 2*i, 'c': 3*i} for i in range(5)]
data

[{'a': 0, 'b': 0, 'c': 0},
 {'a': 1, 'b': 2, 'c': 3},
 {'a': 2, 'b': 4, 'c': 6},
 {'a': 3, 'b': 6, 'c': 9},
 {'a': 4, 'b': 8, 'c': 12}]

In [34]:
data_df = pd.DataFrame(data)
data_df

   a  b   c
0  0  0   0
1  1  2   3
2  2  4   6
3  3  6   9
4  4  8  12

In [36]:
df_np = pd.DataFrame(np.random.randint(1,10,(6,3)), index=['A','B','C','D','E','F'], columns=['one', 'two', 'three'])
df_np

   one  two  three
A    9    3      3
B    6    9      3
C    8    1      9
D    9    2      3
E    3    9      8
F    3    8      1