## File Handling

In [57]:
f1 = open('test1.txt')

In [43]:
print(f1.read())

Hello world
Welcome to Python
We start today

In [45]:
f1.seek(0)

0

In [46]:
print(f1.readline())

Hello world

In [26]:
print(f1.readlines())

['Hello world\n', 'Welcome to Python\n', 'We start today']

In [58]:
f2 = open('test2.txt', 'w')

In [32]:
f2.write('Add this to file')

16

In [36]:
f3 = open('test3.txt', 'w')
f1 = open('test1.txt')
f3.write(f1.read())

44

In [62]:
f1 = open('test1.txt')
f2 = open('test2.txt')
f3 = open('test3.txt')

In [63]:
f4 = open('test4.txt', 'a')
f4.write(f1.read())
f4.write(f2.read())
f4.write(f3.read())

59

In [64]:
f4 = open('test4.txt')
f4.read()

'Hello world\nWelcome to Python\nWe start today\nThis is file 1 contentHello world\nWelcome to Python\nWe start today\nThis is file 1 contentHello world\nWelcome to Python\nWe start today\nThis is file 1 contentAdd this to fileHello world\nWelcome to Python\nWe start today\nThis is file 3'

In [65]:
f5 = open('test5.txt', 'w')

In [66]:
f5.write('Test')

4

In [79]:
f = open('test6.txt', 'x')

In [80]:
f.write('this is a test')

14

In [81]:
f.close()

In [70]:
f = open('test6.txt', 'w')

In [73]:
f.write('tbis is a test')

14

In [77]:
with open('test1.txt', 'r') as f1:
    print(f1.read())
    f1.seek(0)
    print(f1.read())

Hello world
Welcome to Python
We start today
This is file 1 content
Hello world
Welcome to Python
We start today
This is file 1 content

In [128]:
image1 = open('C:\\Users\\danisha.ansari\\Pictures\\images.jpg', 'rb')

In [129]:
test1 = open('test_file.jpg', 'wb')

In [130]:
test1.write(image1.read())

5402

In [131]:
image1.close()
test1.close()

#### Reading JSON File

In [148]:
import json
f1 = open('data.json','r')

In [149]:
employee = json.load(f1)

In [151]:
print(employee["Name"])

Danish

In [158]:
f1.close()

In [182]:
import json
f2 = open('data1.json', 'r')
employees = json.load(f2)

In [183]:
print(employees)

[{'Name': 'Danish', 'Age': 21, 'Gender': 'M'}, {'Name': 'Prathamesh', 'Age': 22, 'Gender': 'M'}, {'Name': 'Parth', 'Age': 20, 'Gender': 'M'}, {'Name': 'Sanjana', 'Age': 21, 'Gender': 'F'}, {'Name': 'Garvita', 'Age': 21, 'Gender': 'F'}]

In [188]:
list_of_males = []

for emp in employees:
    if emp['Gender']=='M':
        list_of_males.append(emp)
print(list_of_males)

# i = 0
# for item in employees:
#     i+=1
#     employee{i} = {}
#     for j in range (4):
#         employee{i} []

# for i in range (len(employees)):
#     temp = employee["Gender"]
#     if(temp == "M"):
#         list_of_males.append(employees["Name"])


# print(list_of_males)

[{'Name': 'Danish', 'Age': 21, 'Gender': 'M'}, {'Name': 'Prathamesh', 'Age': 22, 'Gender': 'M'}, {'Name': 'Parth', 'Age': 20, 'Gender': 'M'}]

In [8]:
employees = {
    "emp1": {"name": "Alice", "role": "Developer"},
    "emp2": {"name": "Bob", "role": "Designer"},
    "emp3": {"name": "Charlie", "role": "Manager"}
}
# i = 0
# for item in employees:
#     i=i+1
#     temp = employees[f'emp{i}']
#     print(temp['name'], end=" ")
#     print(temp['role'])

for key, employee in employees.items():
    print(key)
    for key1, value in employee.items():
        print(f'{key1}: {value}')

emp1
name: Alice
role: Developer
emp2
name: Bob
role: Designer
emp3
name: Charlie
role: Manager

In [4]:
for key in employees:
    print(key)

emp1
emp2
emp3

In [219]:
for value in employees.values():
    print(value)

{'name': 'Alice', 'role': 'Developer'}
{'name': 'Bob', 'role': 'Designer'}
{'name': 'Charlie', 'role': 'Manager'}

In [231]:
employees = {
    "emp1": {"name": "Alice", "role": "Developer"},
    "emp2": {"name": "Bob", "role": "Designer"},
    "emp3": {"name": "Charlie", "role": "Manager"}
}

fp1 = open('data2.json', 'w')
json.dump(employees, fp1, indent=4)
fp1.close()

In [8]:
data = [
    {
        "name": "John Doe",
        "age": 30,
        "city": "New York",
        "skills": ["Python", "Machine Learning", "Data Science"]
    },
    {
        "name": "Alice Smith",
        "age": 28,
        "city": "San Francisco",
        "skills": ["Python", "React", "Node.js"]
    },
    {
        "name": "Bob Johnson",
        "age": 35,
        "city": "Chicago",
        "skills": ["Java", "Spring Boot", "Microservices", "Machine Learning"]
    },
    {
        "name": "Emily Davis",
        "age": 32,
        "city": "Boston",
        "skills": ["SQL", "Data Analysis", "Python"]
    },
    {
        "name": "Michael Brown",
        "age": 27,
        "city": "Seattle",
        "skills": ["C#", ".NET", "Azure", "Data Science"]
    },
    {
        "name": "Sarah Wilson",
        "age": 29,
        "city": "Los Angeles",
        "skills": ["Python", "SQL", "Data Analysis"]
    },
    {
        "name": "David Clark",
        "age": 31,
        "city": "Denver",
        "skills": ["JavaScript", "React", "Node.js", "Machine Learning"]
    },
    {
        "name": "Sophia Martinez",
        "age": 34,
        "city": "Austin",
        "skills": ["Java", "Spring Boot", "SQL"]
    },
    {
        "name": "Daniel Lee",
        "age": 26,
        "city": "Miami",
        "skills": ["C#", ".NET", "Azure", "React"]
    },
    {
        "name": "Olivia Taylor",
        "age": 33,
        "city": "Philadelphia",
        "skills": ["Python", "Machine Learning", "Power BI"]
    }
]

list_of_unique_skills= set()

for item in data:
    # print(item)
    for value1 in item['skills']:
        # print(value1)
        list_of_unique_skills.add(value1)
    
print(list_of_unique_skills)

{'Machine Learning', 'Node.js', 'Microservices', 'React', 'Power BI', 'C#', 'Java', '.NET', 'SQL', 'JavaScript', 'Data Analysis', 'Python', 'Spring Boot', 'Data Science', 'Azure'}

## Exception Handling

In [ ]:
# Common Built-in Exceptions in Python
# Some of the most common built-in exceptions in Python include:

# ZeroDivisionError – Raised when a division by zero occurs.
# ValueError – Raised when a function receives an argument of the right type but an inappropriate value.
# IndexError – Raised when trying to access an index that is out of range in a list or tuple.
# KeyError – Raised when trying to access a dictionary key that does not exist.
# TypeError – Raised when an operation is applied to an object of an inappropriate type.
# FileNotFoundError – Raised when trying to open a file that does not exist.

In [2]:
try:
    num1 = int(input("Enter numerator: "))
    num2 = int(input("Enter denominator: "))
    result = num1 / num2  
    print("Result:", result)
except ZeroDivisionError:
    print("Error: You cannot divide by zero.")
except ValueError:
    print("Error: Please enter a valid number.")

Enter numerator:  2.5

Error: Please enter a valid number.